<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterpriseandroid.androidSecurity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" >
            
 
      <activity
                android:name=".InstallCertActivity"
                android:label="@string/app_name" >

        </activity>
       <activity
                android:name=".AuthTokenActivity"
                android:label="@string/app_name" >

        </activity>
        <activity
                android:name=".SecureConnectionActivity"
                android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/ui_activity_title"
            android:permission="android.permission.CAMERA" >
        </activity>
        
        <activity
            android:name=".LoginSuccessfulActivity"
            android:label="@string/app_name"  >
        </activity>
        
        
        <activity
                android:name=".AESEncryptionActivity"
                android:label="@string/app_name">

        </activity>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>