<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterpriseandroid.database.keyval"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <permission-group
        android:name="com.enterpriseandroid.database.keyval"
        android:description="@string/content_group_desc"
        android:label="@string/content_group_label" />

    <permission
        android:name="com.enterpriseandroid.database.keyval.READ"
        android:description="@string/content_read_desc"
        android:permissionGroup="com.enterpriseandroid.database.keyval"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.enterpriseandroid.database.keyval.WRITE"
        android:description="@string/content_write_desc"
        android:permissionGroup="com.enterpriseandroid.database.keyval"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".KeyValActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExtrasActivity"
            android:label="@string/title_activity_extras" />

        <provider
            android:name=".data.KeyValContentProvider"
            android:authorities="com.enterpriseandroid.database.keyval"
            android:grantUriPermissions="true"
            android:readPermission="com.enterpriseandroid.database.keyval.READ"
            android:writePermission="com.enterpriseandroid.database.keyval.WRITE" />
    </application>

</manifest>