<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	        http://www.springframework.org/schema/tx 
     		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Enable annotation scanning. -->
	<context:component-scan base-package="com.enterpriseandroid.awsContacts" />
	
	<bean id="contactService" class="com.enterpriseandroid.awsContacts.service.impl.ContactServiceImpl" >
	   <property name="contactDao" ref="contactDaov1" /> 
	</bean>

	<!-- uncomment the following bean to use dynamodb v2. You also need to comment the contactService above. 
	<bean id="contactService" class="com.enterpriseandroid.awsContacts.service.impl.ContactServiceImpl" >
	   <property name="contactDaov1" ref="contactDaov2" /> 
	</bean>  -->
		
	<bean id="marshallingHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	</bean>
	
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<util:list id="beanList">
				<ref bean="marshallingHttpMessageConverter" />
			</util:list>
		</property>
	</bean>
	 <mvc:default-servlet-handler/>
	<!-- Should be defined last! -->
	<mvc:annotation-driven />  
	<mvc:resources mapping="/resource/**" location="/resource/"/>
	
</beans>
